/*Written by Wmj*/
/*视频信息div的大小*/
.video_message{height:300px;padding-top:40px;}
/*视频介绍图片大小*/
.img_size{width:191px;height:236px;}
.message_size{width:700px;height:200px;	margin:0px 230px;}
.btn_size{margin:0px 230px;}
.line{margin:30px 0px 0px 0px;}